.text-area {
    width: 100%;
    resize: vertical;
}

.more-box {
    display: none;
    position: fixed; /* 改为 fixed 定位 */
    background-color: var(--controls-bg-color);
    z-index: 98;
    padding: 0.714rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    max-width: 300px;

}

.more-box.show {
    display: block;
}

/* 当右侧空间不足时的样式 */
.more-box.position-left {
    margin-right: 5px;
}

/* 默认右侧显示的样式 */
.more-box.position-right {
    margin-left: 5px;
}

.text-with-shadow, .more-box label {
    color: var(--text-color);
    text-shadow: var(--text-shadow-color) 0 0 .357rem;
}

.spoiler > input ~ .box {
    display: none;
}

.spoiler > input:checked ~ .box {
    display: block;
}

.spoiler > label::before {
    content: '►';
    margin-right: 5px;
}

.spoiler > input:checked ~ label::before {
    content: '▼';
}

.spoiler > input:checked ~ div {
    display: block;
    padding: 10px;
}

.spoiler > input {
    display: none;
}
